[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "Hazel/vendor/glfw"]
	path = Hazel/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/ImGuizmo"]
	path = Hazel/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://github.com/g-truc/glm
